.nav-link{
    color:green;
    font-size: 20px;
    padding: 30px;
    text-decoration: none;
}

 a:hover.nav-link{
    color:#000;
}
.activeStyle{
    background-color: red;
    color: #fff;
}
.active{
    background-color: red;
    color: #fff; 
}